@keyframes showText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showCtgP {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes openCategorySelector {
    from {
        width: 0;
    }

    to {
        width: 58.53%;
    }
}

@keyframes hideChooseCategories {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0 !important;
    }

    100% {
        display: none !important;
    }
}

.goUnder {
    top: 110% !important;
}

.closed {
    width: 0 !important;
    padding: 0 !important;
}

.mapContainerOpen {
    height: 51.1% !important;
    padding: 1.7% !important;
    top: 28.45% !important;
}

.mapContainerOpen .postMap {
    opacity: 1 !important;
}

.underMapInput {
    top: 82.57% !important;
}

.openPostDescription {
    height: 59.11% !important;
    padding: 3% !important;
    top: 32% !important;
}

.openPostImages {
    top: 32% !important;
    height: 50.6% !important;
    padding: 1.55vh !important;
}

.closeCategory {
    width: 0 !important;
    padding: 0 !important;
}

.smooth {
    transition: 0.5s;
}

.openedPost .picture {
    margin-bottom: 30%;
    width: 0 !important;
    padding: 0;
    opacity: 0;
}

.openedPost {
    height: 56vh;
    cursor: unset;
}

.openedPost .content {
    width: 93%;
}

.openedPost .title {
    font-size: 4.44vh;
    animation: enlargeTitle 1s linear;
}

.openedPost .description {
    font-size: 1.44vh;
    animation: enlargeDescription 1s linear;
    height: 38%;
}

.openedDate {
    font-family: FedraDemi;
    position: absolute;
    top: 2.27%;
    margin-left: 4%;
    opacity: 1;
    animation: appear 0.5s linear;
}

.openCategories {
    animation: appear 0.5s linear;
}

.imgMapView {
    animation: stretchMapView 0.5s linear;
}

@keyframes stretchMapView {
    from {
        height: 0;
    }

    to {
        height: 40%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes enlargeTitle {
    0% {
        font-size: 2.77vh;
    }

    40% { 
        font-size: 4.44vh;
    }

    100% {
        font-size: 4.44vh;
    }
}

@keyframes enlargeDescription {
    0% {
        font-size: 1.33vh;
    }

    70% { 
        font-size: 1.44vh;
    }

    100% {
        font-size: 1.44vh;
    }
}